{% extends 'user/base.html' %}
{% load static %}


{% block body %}
{% csrf_token %}

<table class="table table-hover table-striped" id="example">
  <thead>
    <tr>
      <th scope="col">Member</th>
      <th scope="col">Member Bank Name</th>
      <th scope="col">Society Bank Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    {% for history in payment_history %}
    <tr>
      <td>{{history.member.first_name}}</td>
      <td>{{history.member_Bank_Name}}</td>
      <td>{{history.society_Bank_Name}}</td>
      <td>{{history.amount}}</td>
      <td>{{history.createdAt}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}

{% endblock %}