{% extends 'user/base.html' %}
{% load static %}

{% block styles %}
<style>
        .camera-icon {
                display: none;
                font-size: 20px;
                margin-top: 20px;
                cursor: pointer;
                color: gray
        }

        .profile-img {
                background-color: rgb(241, 241, 241);
                border: 1px solid gray;
                padding: 5px;
                object-fit: cover;
                width: 14rem;
                height: 13.5rem;
                cursor: pointer;
        }

        .profile-img:hover {
                box-shadow: 0 0 10px 1px rgb(172, 172, 172);
        }
</style>
{% endblock %}


{% block body %}
{% csrf_token %}


<div class="container rounded bg-white mt-5 mb-5">
        <!-- {% for message in messages %}
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
        {% endfor %} -->

        <div class="row">

                <div class="col-lg-3">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                {% if member.profile_Photo %}
                                <img class="rounded-circle mt-5 profile-img" src="..{{member.profile_Photo.url}}"
                                        alt="">
                                {% else %}
                                <img class="rounded-circle mt-5 profile-img" src="{% static '/img/img_avatar.png' %}"
                                        alt="">
                                {% endif %}
                                <label for="upload-photo" class="camera-icon"><i class="fas fa-camera"></i></label>
                                <input type="file" name="photo" class="upload-photo" id="upload-photo"
                                        onchange="addImageToPost()" hidden />
                                <h3 class="font-weight-bold mt-2">{{ member.first_name }}
                                        {{member.last_name}}
                                </h3>
                                <span class="text-black-50">{{ member.email }}</span><span> </span>
                        </div>
                </div>
                <div class="col-lg-4 py-4">
                        <div class="row mx-1">
                                <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="text-right">Profile </h4>
                                        {% if request.user.id == member.id %}
                                        <a href="{% url 'edit_profile'  %}">
                                        <button class="btn btn-primary edit_profile_btn">
                                                Edit Profile
                                        </button>
                                        </a>
                                        {% endif %}
                                </div>
                        </div>

                        <div class="row mt-4 mx-1">
                                <div class="col-md-6">
                                        <label class="labels">Name</label>
                                        <input type="text" class="form-control name" placeholder="first name"
                                                value="{{ member.first_name }}">
                                </div>
                                <div class="col-md-6">
                                        <label class="labels">Surname</label>
                                        <input type="text" class="form-control surname" value="{{ member.last_name }}"
                                                placeholder="surname" readonly>
                                </div>
                        </div>
                        <div class="row mt-3 mx-1">
                                <div class="col-md-12">
                                        <label class="labels">Username</label>
                                        <input type="text" class="form-control username" placeholder="enter username"
                                                value="{{ member.username }}" readonly>
                                </div><br>
                        </div>
                        <div class="row mt-3 mx-1">
                                <div class="col-md-12">
                                        <label class="labels">Mobile Number</label>
                                        <input type="text" class="form-control phone-number"
                                                placeholder="enter phone number" value="{{ member.phone_Number }}"
                                                readonly>
                                </div><br>
                        </div>
                        <div class="row mt-3 mx-1">
                                <div class="col-md-12">
                                        <label class="labels">Email ID</label>
                                        <input type="text" class="form-control email" placeholder="enter email id"
                                                value="{{ member.email }}" readonly>
                                </div><br>
                        </div>
                </div>

                <div class="col-lg-5  py-4">
                        <div class="row mx-1">
                                <h4>Address</h4>
                        </div>
                        <div class="row mt-4 mx-1">
                                <div class="col-md-6"><label class="labels">Floor Type</label><input type="text"
                                                class="form-control" placeholder="floor_Type"
                                                value="{{ member.flat_Type }}" readonly>
                                </div>
                                <div class="col-md-6"><label class="labels">area</label><input type="text"
                                                class="form-control" placeholder="area" value="{{ member.area }}"
                                                readonly></div>
                        </div>
                        <div class="row mx-1 mt-3">
                                <div class="col-md-12 "><label class="labels">Member Type</label><input type="text"
                                                class="form-control" placeholder="member_Type"
                                                value="{{ member.member_Type }}" readonly></div>

                        </div>

                        <div class="row mt-3 mx-1">
                                <div class="col-md-12"><label class="labels">wing</label><input type="text"
                                                class="form-control" placeholder="wing" value="{{ member.wing }}"
                                                readonly>
                                </div>
                        </div>
                        <div class="row mt-3 mx-1">
                                <div class="col-md-6"><label class="labels">Floor Number</label><input type="text"
                                                class="form-control" placeholder="Floor Number"
                                                value="{{ member.floor_Number }}" readonly>
                                </div>
                                <div class="col-md-6"><label class="labels">Flat Number</label><input type="text"
                                                class="form-control" value="{{ member.flat_Number }}"
                                                placeholder="flat_Number" readonly>
                                </div>
                        </div>
                </div>
        </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}