{% extends 'user/base.html' %}
{% load static %}


{% block body %}
{% csrf_token %}
<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
        {% for expense in society_expenses %}
        <tr>
            <td>{{expense.title}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.amount}}</td>
            <td>{{expense.createdAt}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}

{% endblock %}