{% load static %}
<html>   
<head>  
    {% block script %}
<meta name="viewport" content="width=device-width, initial-scale=1">  
 
 <link rel="stylesheet" href="{% static 'css/login.css' %}">
 {% endblock %} 
</head>    
<body> 
    {% block body %}   

    <center><h1 style="color:66fcf1;"> Login </h1> </body></center>
    <form style="margin-top:45px ;height:100% ;width:70%; margin-left:15%" class="image" method="POST"> 
        {% csrf_token %}
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
			<input type="checkbox" checked="checked"> Remember me   
		    <span style="float:right;">Forget<a href="#"> password? </a></span> 
            <div><button type="submit">Login</button></div>   
            Don't have an Account<a href="#"> Register? </a>   
        </div> 
    		
    </form>  
    {% endblock %}   
</body>     
</html>  